@import '../../assets/commons.scss';


.projects-item {
    &--title {
      font-size: toRem(22);
    }
    &--link {
      color: inherit;
      text-decoration: none;
      font-size: toRem(16);
      transition: all 0.45s ease;
      &:before {
        content       : "\2022";
          color: #f14738;
          margin-right: 0.5rem;
      }
      &:hover {
        color: #f14738;
      }
    }
}