.wh-cnt-skill {
  &-item {
    align-items: center;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--title {
    width : 60%;
    margin: 0;
  }

  &--indicator {
    width          : 35%;
    max-width      : 200px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;

    .circle-skill {
      display      : block;
      position     : relative;
      width        : 18px;
      height       : 18px;
      border       : 2px solid #f14738;
      border-radius: 100%;
      margin       : 0 0.15rem;

      &:after {
        content      : '';
        position     : absolute;
        width        : 8px;
        height       : 8px;
        top          : 50%;
        left         : 50%;
        border-radius: 100%;
        transform    : translate(-50%, -50%);
        background   : #b7b7b7;
        opacity      : 0;
      }

      &.active {
        &:after {
          opacity: 1;
        }
      }
    }
  }

}