@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600;700;800&display=swap');


html,
body {
  font-family: 'Open Sans';
  font-size  : 1rem;
  line-height: 1.4;
  font-weight: 400;
  color      : #151515;
}

.container {
  width       : 100%;
  max-width   : 960px;
  margin-left : auto;
  margin-right: auto;
}

.text-orange {
  color: #f14738;
}

.text-highlight {
  font-family: 'Montserrat';
}

.text-regular {
  font-weight: 400;
}

.text-semiBold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extraBold {
  font-weight: 900;
}