@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;500;600;700;800&display=swap');

@import "./assets/commons.scss";

html,
body {
  font-family: 'Open Sans';
  font-size  : 1rem;
  line-height: 1.4;
  font-weight: 400;
  color      : #151515;
}

.text-orange {
  color: #f14738;
}

.text-highlight {
  font-family: 'Montserrat';
}

.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}

.text-semiBold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extraBold {
  font-weight: 900;
}